<%= stylesheet_link_tag('user_card') %>
<section class="user_card">
  <%= image_tag('profile_pic.jpeg', class:'user_picture') %>
  <div class="content">
    <h2><%= link_to(user.name, user_path(user)) %></h2>
    <p>
      Number of posts: <%= user.posts_counter %>
    </p>
  </div>
</section>