<%= render partial: 'partials/user_card', locals: { user: @user }%>
<div class='bio'>
<em></em>
<p><%= @user.bio %></p>
</div>
<% @recent_posts.each do |post| %>
  <% render partial: 'partials/post_snipet', locals: { post: post} %>
<% end %>