<%= render partial: 'partials/user_card', locals: { user: @user }%>
<div class='bio'>
  <b>Bio</b>
  <p><%= @user.bio %></p>
</div>
<% @recent_posts.each do |post| %>
  <%= render partial: 'partials/post_snipet', locals: { post: post} %>
<% end %>

<%= link_to("See all posts", user_posts_path(@user), class: "see-all-btn") %>